<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Funkoshop</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    
</head>

<body>
    <%- include('partials/header_admin') %>

    <main class="main-container">
        <section class="searcher">
            <picture>
                <img class="searcher__lens" src="../../img/icons/search_icon.svg" alt="Icono Buscar">
            </picture>
            <input class="searcher__text" type="text" placeholder="código, nombre o categoria">
        </section>

        <section class="list">
            <section class="list__options">
                <h2 class="list__title"><%= title %></h2>
                <div class="add">
                    <p class="add-text"><%= add_item %></p>
                    <button class="add-button">
                        <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M36.8333 28.4516H28.1667V37.1182H23.8333V28.4516H15.1667V24.1182H23.8333V15.4516H28.1667V24.1182H36.8333M41.1667 6.78491H10.8333C8.42833 6.78491 6.5 8.71325 6.5 11.1182V41.4516C6.5 42.6009 6.95655 43.7031 7.76920 44.5157C8.58186 45.3284 9.68406 45.7849 10.8333 45.7849H41.1667C42.3159 45.7849 43.4181 45.3284 44.2308 44.5157C45.0435 43.7031 45.5 42.6009 45.5 41.4516V11.1182C45.5 9.96897 45.0435 8.86677 44.2308 8.05412C43.4181 7.24146 42.3159 6.78491 41.1667 6.78491Z"
                                fill="#FF3333" />
                        </svg>
                    </button>
                </div>
            </section>
            <table>
                <tr class="list__details">
                    <th class="details__text"><%= id_title %></th>
                    <th class="details__text"><%= codigo_title %></th>
                    <th class="details__text"><%= nombre_title %></th>
                    <th class="details__text"><%= categoria_title %></th>
                    <th class="details__text"> </th>
                </tr>

                <% products.forEach((product)=> { %>
                <tr class="item">
                    <th class="item__detail"><%= product.product_id %></th>
                    <th class="item__detail"><%= product.product_sku %></th>
                    <th class="item__detail"><%= product.product_name %></th>
                    <th class="item__detail"><%= product.licence_name %></th>
                    <th class="item__modify">
                        <a href="/admin/edit/<%= product.product_id %>"><img class="modify-edit" src="../../img/icons/edit_pencil.svg" alt="Icono Editar"></a>
                        <a href="/admin/delete/<%= product.product_id %>"><img class="modify-delete" src="../../img/icons/delete_trash.svg" alt="Icono Eliminar"></a>
                    </th>
                </tr>
                <% }) %>
            </table>
        </section>
    </main>

    <%- include('partials/footer_admin') %>
</body>

</html>